/**
* Name: B+ Tree CSS Stylesheet
* Authors: Joseph Milla
* Version: 0.0.0;
* Comment: This will override Bootstrap
*/

.input-group-addon-o {
	color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}